# Entornos virtuales
venv/
env/
*.venv/

# Archivos de registro
*.log

# Archivos de caché
__pycache__/
*.pyc

# Archivos de configuración local
config.ini

# Dependencias y paquetes instalados
lib/
lib64/
local/
build/
dist/
site/
*.egg-info/
.eggs/

# Archivos generados durante la ejecución
instance/

# Archivos de IDE y editores de texto
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.cache

# Archivos de respaldo
*.backup
*.bak
*.swp
*~

# Otros archivos y directorios
.DS_Store
thumbs.db